{
  "splitTrafficType" : "user",
  "splitEnvironment" : "Prod-Default",
  "splitServerSideApiKey" : "81b7njm3b0u4vk2ju9mckm16egong7ch5v3g",
  "matomoAuthKey" : "60b8cf3db0ce3f0cbc3e034a75839021",
  "siteId" : "1",
  "batchSize" : 1000,
  "retries" : 5,
  "userIdField" : "userId",
  "valueField" : "",
  "eventTypePrefix" : "mo"
}
